html {
	height:100%
}

body{
	height:100%;
	margin:0px;
	padding:0px;
	color: #333;
}

#container{
	height:100%;
}

/*===========================================*/
/*  stop message  */
/*===========================================*/
.tip-scroll {
	margin: 5px 0 0;
	max-width: 450px;
	min-height: 100px;
	max-height: 200px;
	height: 80%;
	overflow-y: scroll;
}

.top-content {
	width: 100%;
}

h4.title {
	margin:0 0 5px 0;
	padding:0.2em 0;
}

.tip-content h5.direct {
	margin: 8px 0 5px 0;
}

p {
	width: 100%;
	margin:0;
	line-height:1.5;
	font-size:13px;
	word-spacing: 5px;
}

p.attention {
	color: #666;
}

p.footer {
	margin-top: 10px;
	color: #aaa;
}

.tip-content p.timetable {
	color: green;
}

.tip-content span.blue {
	color: blue;
}

span.red {
	color: #a00;
}

.tip-content span.silver {
	color: LightGray;
}

/*===========================================*/
/* feedback */
/*===========================================*/
#feedback {
	background: #333;
	bottom: 0;
	color: white;
	padding: 4px 0;
	position: absolute;
	opacity: 0.75;
	text-align: center;
	width: 100%;
}

#feedback:hover {
	opacity: 1.0;
}